@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 115, 0);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
#topnavleft {
  float: left;
  padding-top: 55px;
  font-size: 25px;
}
#topnavright {
  float: right;
  padding-top: 60px;
  font-size: 25px;
  font: arial;
}
/* Change the color of links on hover */


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-container{
  display: flex;
  justify-content: space-evenly; /* allocateas extra space inbetween or around our elements */ 
  flex-wrap: wrap; /* wraps next card to new line when space is gone */
  align-items: center;
  width: 95vw;
  margin: 50px auto; /* centers element */
} 
#pageimage{
  width: 50%;
  border: 7px solid black;
  border-radius: 5%;
}
.container {
  text-align: center;
  align-self: center;
}
.card{
  height: 800px;
  width: 25%;
  background-color: rgb(255, 115, 0); 
  display: flex;
  align-items: center;
  flex-wrap: wrap;    
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  margin: 30px 0;
  border-radius: 20px;
  transition: all 0.3s;
}
.card-title{
  display: inline-flex;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(255, 208, 0); ;
  margin-top: 1.5%;
  border: 3px solid black;
  border-radius: 100px;
  color: rgb(203, 0, 255);;
}
.card-img{  
  border-radius: 5%;
  border: 3px solid black;
}
.logo {
  width: auto;
  height: 120px;
}
.logo:hover {
  background-color: white;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover > .background , .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: white;
  color: black;
  opacity: 100%;
}
.background{
  opacity: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
#button{
  border-color: aliceblue;
  border-radius: 20px;
  background-color: #b6e0de;
  margin-bottom: 25px;
  width: 200px;
  height: 50px;
}

a:link, a:visited{
  color: #0394fc;
  text-decoration: none;
}
a:hover{
  color:red;
}
#textsizeup{
  font-size: 150px;
}
#errorimage{
  border: 10px solid  rgb(255, 208, 0);
  border-radius: 3%;
  text-align: center;
}