<!DOCTYPE html>
<html lang="en" class="background">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="../static/css/style.css">
<body>
  <!--     <div class="topnav">
            <a id="tonavleft"><img id="logo"src="../static/img/worstbuy.jpg"></a>
            <a id="topnavright"href="#contact">Contact</a>
            <a id="topnavright"href="#about">About</a>
            <a id="topnavright">
                <div class="search">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit">Submit<i class="search"></i></button>
                    </form>
                </div>
            </a>
    </div>   -->
  <div class="topnav">
    <a id="tonavleft" class="logo"><img class="logo" src="../static/img/worstbuy2.jpg"></a>
    <a id="topnavright" href="#contact">Contact</a>
    <a id="topnavright" href="#about">About</a>
    <div id="topnavleft" class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Products
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <a href="#">Camera</a>
        <a href="#">Antenna</a>
        <a href="#">Insignia Products</a>
      </div>
    </div>
  </div>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
      if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
  </script>
  {%block content %} {% endblock %}
</body>